@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/list/main.css";

.fc-icon-chevron-left:before,
.fc-icon-chevron-right:before {
  position: relative;
  top: -20%;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border: none;
  border-color: #ddd;
}

.fc-list-table tr {
  border-top: 1px solid;
  border-color: #ddd;
}

.fc-list-heading td {
  background: $secondary-gradiant !important;
}

.fc td.fc-today {
  border-style: none;
  color: white;
}

.fc-unthemed .fc-today {
  background: $orange;
}

.fc-event[href],
.fc-popover .fc-header .fc-close,
a[data-goto] {
  cursor: pointer;
  background: $light-blue;
  color: #fff;
}

.fc-event,
.fc-event-dot {
  background-color: $orange !important;
}

.fc-list-item-title a[href]:hover {
  text-decoration: none;
}

@include respond-to(handhelds) {
  .fc-toolbar .fc-center {
    margin-top: 10px;
  }
}
