.imgbox {
  background: black;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 185px;
  height: 150px;
  overflow: hidden;
  -moz-box-shadow: 2px 2px 6px 0px #000;
  -webkit-box-shadow: 2px 2px 6px 0px #000;
  box-shadow: 2px 2px 6px 0px #000;
  margin-bottom: 4px;

  @include respond-to(handhelds) {
    width: 150px;
  }

  img {
    opacity: 0.6;
    transition: 0.5s opacity;
    transition: transform 0.5s ease;
  }

  .imgbox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
  }

  .imgbox-meta {
    display: none;
    font-size: small;
    font-style: italic;
  }

  &:hover {
    .imgbox-meta {
      display: block;
    }
  }

  &:hover img {
    opacity: 1;
    transform: scale(1.5);
  }

  &:hover .imgbox-desc {
    padding-bottom: 16%;
  }
}

#lightgallery {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

#lightgallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #lightgallery {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}

@media (max-width: 1000px) {
  #lightgallery {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 800px) {
  #lightgallery {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 400px) {
  #lightgallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
